<settings>
    <profiles>
        <profile>
            <id>artifactory-plugin-properties</id>
            <properties>
                <username>admin</username>
                <password>password</password>
            </properties>
            
          <repositories>
             <repository>
                <id>artifactory-release</id>
                <url>http://localhost:8081/artifactory/libs-release</url>
                <releases>
                    <updatePolicy>always</updatePolicy>
                </releases>
            </repository>
              
             <repository>
                <id>artifactory-snapshot</id>
                <url>http://localhost:8081/artifactory/libs-snapshot</url>
                <releases>
                    <updatePolicy>always</updatePolicy>
                </releases>
            </repository>
                
          </repositories>
            
          <proxies> 
                <proxy> 
                    <id>proxy</id> 
                    <active>true</active> 
                    <protocol>http</protocol> 
                    <host>172.16.1.3</host> 
                    <port>8080</port> 
                    <username>synopsis</username> 
                    <password>synopsis</password>
                </proxy> 
         </proxies>   
            
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory-plugin-properties</activeProfile>
    </activeProfiles>
</settings>
